.radio {
    display: flex;
    color: white;
    position: relative;
    align-items: center;
    font-size: 12px;
    padding: 10px 0;
}

.radio input {
    width: 15px;
    height: 15px;
    margin: 0;
    margin-right: 10px;
}

.radio input:last-child {
    margin-left: 20px;
}