@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(255, 255, 255);
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-image: 
    linear-gradient(to top, rgba(32, 34, 30, 0.1), rgba(20, 22, 20, 0.1)),
    url('../../../public/image/book.jpg');
}

.wrapper {
    width: 400px;
    margin: 50px auto;
    border-radius: 10px;
}

.wrapper p {
    color: white;
    font-size: 12px;
    margin: 5px 0;
}

.wrapper h1 {
    color: white;
    text-align: center;
}

.wrapper a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
}